[submodule "vendor/pathogen"]
	path = vendor/pathogen
	url = http://github.com/tpope/vim-pathogen
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/xptemplate"]
	path = vim/bundle/xptemplate
	url = https://github.com/drmingdrmer/xptemplate.git
